*.o
parser.cpp
parser.hpp
tokens.cpp
compiler
test/example.bc
test/example.S
test/example.native
.vscode
.history
.cache/
.idea/
build/
build_catalina/
cmake-build-debug-in-catalina/
cmake-build-debug/
compile_commands.json
mybuild/
